<div
  class="face-snap-card"
  [ngClass]="{
    snapped: faceSnap.snaps > 0
  }"
>
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <p>Mise en ligne le : {{ faceSnap.createdDate | date : "fullDate" }}</p>
  <p>{{ faceSnap.description }}</p>
  <p>{{ 165654654.2356 | number : "1.2-2" }}€</p>
  <p>{{ 165654654 | currency : "EUR" : "code" }}</p>
  <p>{{ 0.33 | percent : "1.2-2" }}€</p>
  <p>
    <button (click)="onAddSnap()">
      {{ faceSnap.snaps > 0 ? "Oops, unSnap" : "Oh Snap!" }}
    </button>
    <span [ngStyle]="{ color: 'rgb(0,' + faceSnap.snaps + ',0)' }">{{
      faceSnap.snaps
    }}</span>
  </p>
  <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
</div>
