<div
  class="face-snap-card"
  *ngIf="faceSnap$ | async as faceSnap"
  [ngClass]="{
    snapped: faceSnap.snaps > 0
  }"
>
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <a routerLink="/facesnaps">back</a>
  <p>Mise en ligne le : {{ faceSnap.createdDate | date : "fullDate" }}</p>
  <p>{{ faceSnap.description }}</p>
  <p>
    <button (click)="onAddSnap(faceSnap.id)">
      {{ faceSnap.snaps > 0 ? "Oops, unSnap" : "Oh Snap!" }}
    </button>
    <span [ngStyle]="{ color: 'rgb(0,' + faceSnap.snaps + ',0)' }">{{
      faceSnap.snaps
    }}</span>
  </p>
  <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
</div>
